
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animations */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fadeUp 0.5s ease-out forwards;
}

/* Variables pour les couleurs spécifiques à NEOtech */
:root {
  --neotech-primary: #357dfa;
  --neotech-primaryDark: #2766d9;
  --neotech-secondary: #05d8e6;
  --neotech-background: #f5f8ff;
}

/* Couleurs personnalisées */
.bg-neotech-primary {
  background-color: var(--neotech-primary);
}

.bg-neotech-primaryDark {
  background-color: var(--neotech-primaryDark);
}

.bg-neotech-secondary {
  background-color: var(--neotech-secondary);
}

.bg-neotech-background {
  background-color: var(--neotech-background);
}

.text-neotech-primary {
  color: var(--neotech-primary);
}

/* Effet de verre */
.glass-effect {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
